In [44]:
import pandas as pd
import numpy as np
import random
from datetime import datetime
from datetime import timedelta

Q3) Write a Pandas program to highlight the negative numbers red and positive numbers black

In [4]:
def _color_red_or_black(val):
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color


def gen_col():
    return random.sample(range(-10, 10), 10)
    
#if __name__ == '__main__':
data = {'a': gen_col(), 'b': gen_col(),'c': gen_col(), 'd': gen_col()}

df = pd.DataFrame(data=data)
df.style.applymap(_color_red_or_black)

Q4) Write a Pandas program to get the current date, oldest date and number of days between Current date and oldest date of Ufo dataset.

In [14]:
df = pd.read_csv('ufo_sighting_data.csv')

/home/giedrius/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
def get_time(x):
    try:
         time = datetime.strptime(x, "%m/%d/%Y %H:%M")
    except ValueError:
         x = x.replace(' 24', ' 23')
         time = datetime.strptime(x, "%m/%d/%Y %H:%M")
         time += timedelta(hours=1)
    return time

In [60]:
df['Date'] = df['Date_time'].apply(lambda x: get_time(x))
oldest_day = df["Date"].min()
now = datetime.now()

In [63]:
print("Current day:", now)
print("Oldest Ufo day:", oldest_day)
print("Difference of current day and oldest Ufo day:", now - oldest_day)

Current day: 2020-06-18 13:00:24.798898
Oldest Ufo day: 1906-11-11 00:00:00
Difference of current day and oldest Ufo day: 41493 days 13:00:24.798898

Q5) Write a Pandas program to extract year, month, day, hour, minute, second and weekday from unidentified flying object (UFO) reporting date

In [84]:
def get_date(ind):
    date = df['Report date'][ind]
    return date.year, date.month, date.day, date.hour, date.minute, date.second, date.weekday()

In [89]:
get_date(0)

(2004, 4, 27, 0, 0, 0, 1)

Q6) Write a Pandas program to check the empty values of UFO (unidentified flying object) Dataframe.

In [68]:
df.isnull().values.any()

True

In [71]:
df.isnull().sum()

Date_time                             0
city                                  0
state/province                     5797
country                            9670
UFO_shape                          1932
length_of_encounter_seconds           0
described_duration_of_encounter       0
description                          15
date_documented                       0
latitude                              0
longitude                             0
Date                                  0
Report date                           0
dtype: int64

In [75]:
df.isnull().sum().sum()

17414