In [1]:
import org.apache.spark._
import org.apache.spark.SparkContext._
import org.apache.spark.sql._
import org.apache.log4j._

import scala.io.Source
import java.nio.charset.CodingErrorAction
import org.apache.spark.sql.functions._
import java.io.File
import java.nio.file.{Files, Paths}
import scala.io.Codec
import java.text.SimpleDateFormat
import java.util.Date
import scala.collection.mutable.ListBuffer

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.18:4040
SparkContext available as 'sc' (version = 3.0.0-preview2, master = local[*], app id = local-1592994205990)
SparkSession available as 'spark'

import org.apache.spark._
import org.apache.spark.SparkContext._
import org.apache.spark.sql._
import org.apache.log4j._
import scala.io.Source
import java.nio.charset.CodingErrorAction
import org.apache.spark.sql.functions._
import java.io.File
import java.nio.file.{Files, Paths}
import scala.io.Codec
import java.text.SimpleDateFormat
import java.util.Date
import scala.collection.mutable.ListBuffer

#### Importing data paths

In [2]:
//var CURR_PATH = Paths.get(System.getProperty("user.dir"))
//var DATA_PATH = Paths.get(CURR_PATH.getParent().toString, "task6_movielens_pandas","ml-100k").toString()
//var RATINGS_PATH = Paths.get(DATA_PATH, "u.data").toString()
//var MOVIES_PATH = Paths.get(DATA_PATH, "u.item2").toString()
//var USERS_PATH = Paths.get(DATA_PATH, "u.user").toString()
var RATINGS_PATH = "/home/giedrius/Documents/appSpaceGidreaus/task6_movielens_pandas/ml-100k/u.data"
var USERS_PATH = "/home/giedrius/Documents/appSpaceGidreaus/task6_movielens_pandas/ml-100k/u.user"
var MOVIES_PATH = "/home/giedrius/Documents/appSpaceGidreaus/task6_movielens_pandas/ml-100k/u.item2"

RATINGS_PATH: String = /home/giedrius/Documents/appSpaceGidreaus/task6_movielens_pandas/ml-100k/u.data
USERS_PATH: String = /home/giedrius/Documents/appSpaceGidreaus/task6_movielens_pandas/ml-100k/u.user
MOVIES_PATH: String = /home/giedrius/Documents/appSpaceGidreaus/task6_movielens_pandas/ml-100k/u.item2

#### Columns names

In [3]:
var ratingsColumns = Array("user_id", "item_id", "rating", "timestamp")
var userColumns = Array("user_id", "age","gender", "occupation", "zip_code")
var moviesColumns = Array("movie_id", "movie_title", "release_date", "video_release_date", "IMDb_URL", "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western")
var genres = moviesColumns.drop(5)

ratingsColumns: Array[String] = Array(user_id, item_id, rating, timestamp)
userColumns: Array[String] = Array(user_id, age, gender, occupation, zip_code)
moviesColumns: Array[String] = Array(movie_id, movie_title, release_date, video_release_date, IMDb_URL, unknown, Action, Adventure, Animation, Children's, Comedy, Crime, Documentary, Drama, Fantasy, Film-Noir, Horror, Musical, Mystery, Romance, Sci-Fi, Thriller, War, Western)
genres: Array[String] = Array(unknown, Action, Adventure, Animation, Children's, Comedy, Crime, Documentary, Drama, Fantasy, Film-Noir, Horror, Musical, Mystery, Romance, Sci-Fi, Thriller, War, Western)

In [4]:
  def loadMovieNames() : Map[Int, String] = {
    
    // Handle character encoding issues:
    implicit val codec = Codec("UTF-8")
    codec.onMalformedInput(CodingErrorAction.REPLACE)
    codec.onUnmappableCharacter(CodingErrorAction.REPLACE)

      
    // Create a Map of Ints to Strings, and populate it from u.item.
    var movieNames:Map[Int, String] = Map()
    
     val lines = Source.fromFile(MOVIES_PATH).getLines()
     for (line <- lines) {
       var fields = line.split('|')
       if (fields.length > 1) {
        movieNames += (fields(0).toInt -> fields(1))
       }
     }
    
     return movieNames
  }
var nameDict = sc.broadcast(loadMovieNames)

loadMovieNames: ()Map[Int,String]
nameDict: org.apache.spark.broadcast.Broadcast[Map[Int,String]] = Broadcast(0)

In [5]:
val ratingsDf = spark.read.option("delimiter", "\t").csv(RATINGS_PATH).toDF(ratingsColumns:_*)
val usersDf = spark.read.option("delimiter", "|").csv(USERS_PATH).toDF(userColumns:_*)
val moviesDf = spark.read.option("delimiter", "|").csv(MOVIES_PATH).toDF(moviesColumns:_*)
val mergedDf = ratingsDf.join(moviesDf, ratingsDf("item_id") === moviesDf("movie_id"), "left")

ratingsDf: org.apache.spark.sql.DataFrame = [user_id: string, item_id: string ... 2 more fields]
usersDf: org.apache.spark.sql.DataFrame = [user_id: string, age: string ... 3 more fields]
moviesDf: org.apache.spark.sql.DataFrame = [movie_id: string, movie_title: string ... 22 more fields]
mergedDf: org.apache.spark.sql.DataFrame = [user_id: string, item_id: string ... 26 more fields]

### Q1) Q2) Print a list of the 10 movies that received the most number of ratings

In [7]:
val results_1 = ratingsDf.select("item_id")
                        .rdd
                        .map(x => (x(0).toString().toInt,1))
                        .reduceByKey( (x, y) => x + y )
                        .map( x => (x._2, x._1) )
                        .sortByKey(false)
                        .take(10);

results_1.foreach(x => println("%1$-30s : %2$-3s".format(nameDict.value(x._2), x._1)))

Star Wars (1977)               : 583
Contact (1997)                 : 509
Fargo (1996)                   : 508
Return of the Jedi (1983)      : 507
Liar Liar (1997)               : 485
English Patient, The (1996)    : 481
Scream (1996)                  : 478
Toy Story (1995)               : 452
Air Force One (1997)           : 431
Independence Day (ID4) (1996)  : 429

results_1: Array[(Int, Int)] = Array((583,50), (509,258), (508,100), (507,181), (485,294), (481,286), (478,288), (452,1), (431,300), (429,121))

### Q3) Print a list of the number of ratings received by each genre.

In [8]:
genres.foreach(x => println("%1$-11s : %2$5s".format(x, mergedDf.groupBy(x)
                                                     .count()
                                                     .collect()
                                                     .map(x => x(0).toString.toInt * x(1).toString.toInt)
                                                     .max)))

unknown     :    10
Action      : 25589
Adventure   : 13753
Animation   :  3605
Children's  :  7182
Comedy      : 29832
Crime       :  8055
Documentary :   758
Drama       : 39895
Fantasy     :  1352
Film-Noir   :  1733
Horror      :  5317
Musical     :  4954
Mystery     :  5245
Romance     : 19461
Sci-Fi      : 12730
Thriller    : 21872
War         :  9398
Western     :  1854

### Q4) Print the oldest movie with a “5” rating.

In [9]:
var DATE_FORMAT = "dd-MMM-yyyy"
val dateFormat = new SimpleDateFormat(DATE_FORMAT)

def parseDates(x: Row) : Option[(Date, Int)] = {
    try{
        val date =  dateFormat.parse(x(1).toString) 
        Some((date, x(0).toString.toInt))
    }
    catch{
        case e: Exception => None
    }

}

val movieIDs = ratingsDf.select("item_id", "rating")
                        .filter(ratingsDf("rating") === "5")
                        .select("item_id")
                        .collect().map(x => x(0))

val result_4 = moviesDf.select("movie_id", "release_date")
                             .filter(col("movie_id").isin(movieIDs:_*))
                             .rdd
                             .flatMap(parseDates)
                             .sortByKey()
                             .take(1)
                             .map(x => nameDict.value(x._2))

println(result_4(0))

Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)

DATE_FORMAT: String = dd-MMM-yyyy
dateFormat: java.text.SimpleDateFormat = java.text.SimpleDateFormat@541ff80d
parseDates: (x: org.apache.spark.sql.Row)Option[(java.util.Date, Int)]
movieIDs: Array[Any] = Array(465, 1014, 222, 387, 95, 234, 603, 327, 201, 1137, 241, 4, 181, 196, 143, 423, 26, 427, 304, 229, 237, 480, 144, 518, 154, 1153, 382, 328, 132, 174, 96, 151, 195, 200, 195, 750, 23, 379, 427, 273, 98, 466, 673, 172, 174, 483, 202, 408, 228, 178, 10, 14, 69, 318, 339, 237, 218, 202, 89, 153, 595, 11, 520, 209, 222, 79, 237, 705, 64, 484, 508, 215, 705, 64, 304, 749, 321, 134, 256, 56, 271, 96, 197, 169, 558, 96, 522, 12, 20, 462, 781, 176, 197, 135, 173, 715, 163, 315, 60, 1, 288, 596, 144, 1060, 246, 419, 182, 50, 365, 742, 721, 611, 603, 382, 121, 81, 742, 1099, 1028, 961, 98, 2...

### Q5) Print a list of the genre of the top 10 most rated movies.

In [10]:
def getMovieGenres(cols: Row): (Int, String) = {
    var columns = new ListBuffer[String]()
    for (i <- 1 to cols.size-1){
        if (cols(i) == "1"){
            columns += genres(i-1)
        }
    }
    val result = columns.toList.mkString(", ")
    return (cols(0).toString.toInt, result)
}

getMovieGenres: (cols: org.apache.spark.sql.Row)(Int, String)

In [11]:
val topRatedMoviesIds = results_1.map(x => x._2.toString)
val result_5 = moviesDf.select("movie_id",  genres: _*)
                               .filter(col("movie_id").isin(topRatedMoviesIds:_*))
                               .rdd
                               .map(getMovieGenres)
                               .collect()
                               .toMap
                                
results_1.foreach(x => println("%1$-30s genres: %2$-3s".format(nameDict.value(x._2), result_5.get(x._2).get)))

Star Wars (1977)               genres: Action, Adventure, Romance, Sci-Fi, War
Contact (1997)                 genres: Drama, Sci-Fi
Fargo (1996)                   genres: Crime, Drama, Thriller
Return of the Jedi (1983)      genres: Action, Adventure, Romance, Sci-Fi, War
Liar Liar (1997)               genres: Comedy
English Patient, The (1996)    genres: Drama, Romance, War
Scream (1996)                  genres: Horror, Thriller
Toy Story (1995)               genres: Animation, Children's, Comedy
Air Force One (1997)           genres: Action, Thriller
Independence Day (ID4) (1996)  genres: Action, Sci-Fi, War

topRatedMoviesIds: Array[String] = Array(50, 258, 100, 181, 294, 286, 288, 1, 300, 121)
result_5: scala.collection.immutable.Map[Int,String] = Map(288 -> Horror, Thriller, 121 -> Action, Sci-Fi, War, 1 -> Animation, Children's, Comedy, 286 -> Drama, Romance, War, 181 -> Action, Adventure, Romance, Sci-Fi, War, 50 -> Action, Adventure, Romance, Sci-Fi, War, 258 -> Drama, Sci-Fi, 300 -> Action, Thriller, 294 -> Comedy, 100 -> Crime, Drama, Thriller)

### Q6) Print the title of the movie that was rated the most by students

In [12]:
val studendsID = usersDf.select("user_id", "occupation")
                        .filter(col("occupation") === "student")
                        .select("user_id")
                        .collect()
                        .map(x => x(0))

val result_6 = ratingsDf.select("user_id", "item_id")
                         .filter(col("user_id").isin(studendsID:_*))
                         .rdd
                         .map(x => (x(1), 1))
                         .reduceByKey( (x, y) => x+y)
                         .map(x => (x._2, x._1))
                         .sortByKey(false)
                         .take(1)

studendsID: Array[Any] = Array(9, 30, 32, 33, 36, 37, 49, 52, 66, 67, 68, 73, 76, 81, 94, 99, 101, 103, 104, 110, 117, 124, 135, 139, 140, 153, 154, 159, 188, 193, 198, 203, 206, 221, 223, 226, 228, 230, 241, 245, 246, 248, 249, 257, 258, 259, 262, 270, 274, 276, 281, 286, 291, 301, 303, 304, 307, 314, 320, 322, 323, 324, 327, 332, 341, 347, 348, 350, 355, 359, 361, 363, 366, 367, 368, 369, 372, 377, 378, 391, 393, 397, 408, 416, 425, 428, 429, 434, 442, 451, 453, 459, 461, 462, 466, 471, 472, 473, 476, 477, 482, 484, 496, 497, 501, 502, 511, 517, 521, 528, 532, 534, 541, 542, 550, 560, 565, 566, 577, 580, 582, 584, 586, 588, 592, 599, 609, 610, 618, 619, 621, 624, 631, 632, 640, 641, 642, 646, 649, 654, 660, 674, 679, 684, 700, 705, 706, 710, 711, 712, 725, 727, 729, 742, 757, 758, 759...

In [13]:
println(nameDict.value(result_6(0)._2.toString.toInt))

Scream (1996)

### Q7) Print the list of movies that received the highest number of “5” rating

In [14]:
val results_7 = mergedDf.select("item_id","rating")
                          .filter(col("rating") === "5")
                          .rdd
                          .map(x => (x(0), 1))
                          .reduceByKey( (x, y) => x+y)
                          .map(x => (x._2, x._1))
                          .sortByKey(false)
                          .take(10)

results_7.foreach(x => println("%1$-33s : %2$-3s".format(nameDict.value(x._2.toString.toInt), x._1)))

Star Wars (1977)                  : 325
Fargo (1996)                      : 227
Godfather, The (1972)             : 214
Raiders of the Lost Ark (1981)    : 202
Pulp Fiction (1994)               : 188
Schindler's List (1993)           : 186
Silence of the Lambs, The (1991)  : 181
Titanic (1997)                    : 179
Empire Strikes Back, The (1980)   : 172
Return of the Jedi (1983)         : 171

results_7: Array[(Int, Any)] = Array((325,50), (227,100), (214,127), (202,174), (188,56), (186,318), (181,98), (179,313), (172,172), (171,181))

### Q8) Print the list of zip codes corresponding to the highest number of users that rated movies.

In [15]:
val userIDs = ratingsDf.select("user_id")
                       .distinct
                       .collect()
                       .map(x => x(0))

val results_8 = usersDf.select("zip_code", "user_id")
                       .filter(col("user_id").isin(userIDs:_*))
                       .groupBy("zip_code")
                       .count()
                       .orderBy($"count".desc)
                       .take(10)

results_8.foreach(x => println("zipcode %1$5s: %2$-2s".format(x(0), x(1))))

zipcode 55414: 9
zipcode 55105: 6
zipcode 10003: 5
zipcode 55337: 5
zipcode 20009: 5
zipcode 55454: 4
zipcode 55408: 4
zipcode 27514: 4
zipcode 61801: 3
zipcode 94043: 3

userIDs: Array[Any] = Array(196, 186, 22, 244, 166, 298, 115, 253, 305, 6, 62, 286, 200, 210, 224, 303, 122, 194, 291, 234, 119, 167, 299, 308, 95, 38, 102, 63, 160, 50, 301, 225, 290, 97, 157, 181, 278, 276, 7, 10, 284, 201, 287, 246, 242, 249, 99, 178, 251, 81, 260, 25, 59, 72, 87, 42, 292, 20, 13, 138, 60, 57, 223, 189, 243, 92, 241, 254, 293, 127, 222, 267, 11, 8, 162, 279, 145, 28, 135, 32, 90, 216, 250, 271, 265, 198, 168, 110, 58, 237, 94, 128, 44, 264, 41, 82, 262, 174, 43, 84, 269, 259, 85, 213, 121, 49, 155, 68, 172, 19, 268, 5, 80, 66, 18, 26, 130, 256, 1, 56, 15, 207, 232, 52, 161, 148, 125, 83, 272, 151, 54, 16, 91, 294, 229, 36, 70, 14, 295, 233, 214, 192, 100, 307, 297, 193, 113, 275, 219, 218, 123, 158, 302, 23, 296, 33, 154, 77, 270, 187, 170, 101, 184, 112, 133, 215, 6...

### Q9) Find the most rated movie by users in the age group 20 to 25.

In [16]:
val user_25_30_IDs = usersDf.select("user_id", "age")
                        .rdd
                        .map(x => (x(0), x(1).toString.toInt))
                        .filter(x => x._2 > 19 && x._2 < 26 )
                        .map(x => x._1)
                        .collect()

val result_9 = ratingsDf.select("user_id", "item_id")
                         .filter(col("user_id").isin(user_25_30_IDs:_*))
                         .select("item_id")
                         .groupBy("item_id")
                         .count()
                         .orderBy($"count".desc)
                         .take(1)
                         .map(x => nameDict.value(x(0).toString.toInt))

println(result_9(0))

Scream (1996)

user_25_30_IDs: Array[Any] = Array(1, 3, 4, 16, 22, 24, 31, 33, 35, 37, 49, 50, 54, 56, 66, 69, 73, 75, 76, 81, 96, 99, 105, 117, 118, 128, 130, 132, 135, 139, 150, 153, 154, 156, 159, 162, 165, 177, 180, 198, 203, 216, 217, 228, 240, 245, 248, 249, 255, 259, 267, 268, 274, 276, 282, 285, 287, 293, 301, 304, 305, 307, 314, 317, 322, 323, 324, 327, 332, 336, 342, 348, 353, 355, 359, 361, 363, 366, 369, 372, 373, 377, 391, 394, 399, 405, 408, 412, 414, 416, 431, 432, 435, 439, 442, 445, 448, 449, 456, 459, 466, 470, 472, 477, 487, 493, 496, 497, 501, 502, 509, 511, 517, 519, 532, 534, 542, 551, 561, 566, 567, 584, 586, 589, 595, 596, 597, 599, 603, 608, 610, 622, 626, 627, 635, 640, 641, 649, 665, 671, 677, 679, 682, 689, 697, 705, 706, 709, 711, 712, 715, 717, 721, 725, 726, 727, 734, 74...


### Q10) Print the list of movies that were rate after year 1960.

In [31]:
val result_10 = ratingsDf.select("item_id", "timestamp")
                          .rdd
                          .map(x => (x(0).toString.toInt , new Date(x(1).toString.toLong *1000L)))
                          .filter(x => x._2.compareTo(dateFormat.parse("31-Dec-1959")) > 0)
                          .map(x => x._1)
                          .distinct
                          .take(10)
                          .map(x => nameDict.value(x))
                          
println("First 10 movies:")                        
result_10.foreach(println)

First 10 movies:
Anne Frank Remembered (1995)
Harlem (1993)
Audrey Rose (1977)
Now and Then (1995)
Red Rock West (1992)
Two if by Sea (1996)
U.S. Marshalls (1998)
August (1996)
Homeward Bound: The Incredible Journey (1993)
Back to the Future (1985)

result_10: Array[String] = Array(Anne Frank Remembered (1995), Harlem (1993), Audrey Rose (1977), Now and Then (1995), Red Rock West (1992), Two if by Sea (1996), U.S. Marshalls (1998), August (1996), Homeward Bound: The Incredible Journey (1993), Back to the Future (1985))